/* ------------- Media Queries entre 2 tamaños ------------- */

.oferta {
    background-color: #00446e;
    padding: 2rem;
    text-align: center;
}

.precio {
    font-size: 6rem;
    margin: 0;
}

/* Enfoque Mobile First */

/* Con la palabra and el Media querie puede aplicar dos tamaños diferentes */
@media (min-width: 600px) and (max-width: 800px), (min-width: 1000px) {
    .oferta {
        background-color: yellow;
    }
}
